# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\leetCode题目\-doLeetCode\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
